<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="DatabaseConnectionString"
            connectionString="Data Source=10.0.0.242\PRIMAVERA;Integrated Security=SSPI; Database=PRIORTHPT;Persist Security Info=True"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
	
</configuration>